.utilIcon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .fullscreenIcon,
  .closeModalIcon {
    border: 1px solid silver;
    box-shadow: 2px 2px 0 0 rgb(1, 165, 146);
    border-radius: 8px;
    transition: all 0.3s;
  }
  .closeModalIcon {
    padding: 3px;
  }
  .fullscreenIcon:hover,
  .closeModalIcon:hover {
    cursor: pointer;
    background-color: lightgray;
    box-shadow: 1px 1px 0 0 rgb(1, 165, 146);
  }
}
