.printIcon {
  position: absolute;
  bottom: 52px;
  right: 85px;
  border: 1px solid silver;
  padding: 8px;
  background-color: white;
  border-radius: 20px;
  border-color: silver;
  box-shadow: 3px 3px 0 0 rgb(1, 165, 146);
  transition: all 0.3s;
}

.printIcon:hover {
  cursor: pointer;
  background-color: lightgray;
  box-shadow: 1px 1px 0 0 rgb(1, 165, 146);
}

@media screen {
  #printWrapper {
    display: none;
  }
}

@media print {
  @page {
    size: A4 Potrait;
  }
}
