.previewModal {
  overflow: scroll;
  border-color: silver;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  background-color: rgb(255, 255, 255);
  padding: 1%;
  margin: 1% 5%;
  max-width: 90%;
  max-height: 85vh;
  overflow-x: hidden;
  transition: all .5s linear;
  flex: 1;  
}
.profileAndInvoice {
  display: flex;
  justify-content: space-around;
  background-color: gainsboro;
}

