.previewModal {
  overflow: scroll;
  border-color: silver;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  background-color: rgb(255, 255, 255);
  padding: 1%;
  margin: 5%;
  max-width: 90%;
  height: 88%;
  overflow-x: hidden;
  flex: 1;
  font-size: 0.8rem;
}
.previewModal::-webkit-scrollbar-track {
  background-color: #cfcdcd;
}
.previewModal::-webkit-scrollbar {
  width: 14px;
  background-color: #dbdbdb;
}
.previewModal::-webkit-scrollbar-thumb {
  background-color: darkgray;
}
.previewModal::-webkit-scrollbar-thumb:hover {
  background-color: rgba(1, 165, 146, 0.33);
}
.profileAndInvoice {
  display: flex;
  justify-content: space-around;
  background-color: gainsboro;
}
